* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.border {
  border: 1px solid #999;
}

.border_top {
  border-top: 1px solid #999;
}

.border_bottom, .wrap header {
  border-bottom: 1px solid #999;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .border {
    border: 0.5px solid #999;
  }
  .border_top {
    border-top: 1px solid #999;
  }
  .border_bottom, .wrap header {
    border-bottom: 1px solid #999;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .border {
    border: 0.333333px solid #999;
  }
  .border_top {
    border-top: 1px solid #999;
  }
  .border_bottom, .wrap header {
    border-bottom: 1px solid #999;
  }
}

html, body {
  width: 100vw;
  height: 100vh;
}

.wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.wrap header {
  width: 100vw;
  height: 1.06667rem;
}

.wrap {
  background: #eee;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}

header span.active {
  color: blue;
}

.main {
  margin-top: 0.26667rem;
  width: 100vw;
  flex: 1;
  padding: 0 7vw;
  background: #fff;
}

.main > div {
  height: 2.66667rem;
  margin: 0.26667rem 0;
  box-shadow: 2px 2px 2px #CCC,-2px -2px 2px #CCC;
  border-radius: 0.13333rem;
  overflow: hidden;
}

.main > div h2 {
  height: 50%;
  background: hotpink;
  color: #fff;
  font-weight: 600;
  font-size: 30px;
}

.main > div h2 span:first-child {
  float: left;
}

.main > div h2 span:last-child {
  float: right;
}

.main > div p {
  text-align: center;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main > div p:nth-child(2) {
  color: green;
}
